<%= render layout: 'daybackground' do %>
  <div class="container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    
      <div class="wizard">
        <div class="wizard-step">
          <%= f.input :name,
                      label: "What's your name?",
                      required: true,
                      autofocus: true,
                      placeholder: "first name is fine :)" %>
        <a href="#secondstep" data-turbolinks="false">Next</a>
        </div>

        <div class="wizard-step" id="secondstep">
          <%= f.input :city_name,
                      label: "Where are you located near?",
                      required: true,
                      autofocus: true,
                      placeholder: "cities are best for us" %>
          <a href="#finalstep" data-turbolinks="false">Next</a>
        </div>
      
        <div class="wizard-step" id="finalstep">
          <%= f.input :email,
                      label: "What's you email?",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "What's your email?" },
                      placeholder: "we won't share it"%>
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      placeholder: "password" %>  
          <%= f.button :submit, "Sign up", class: "wizard-btn" %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

<script> document.querySelector('.container').addEventListener('click', function(){
  this.className = (this.className === 'container night' ? 'container' : 'container night');
}) </script>
