<%= render layout: 'daybackground' do %>
  <div class="container-fluid signup transition-fade">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    
      <div class="wizard">
        <div class="wizard-step col-10 col-sm-8 col-md-6 col-lg-4 m-auto">
          <%= f.input :name,
                      label: "What's your name?",             
                      required: false,
                      autofocus: true,
                      placeholder: "First name is fine..." %>
        <a href="#" onClick=second.scrollIntoView() class="signup-next" data-turbolinks="false">Next</a>
        </div>

        <div class="wizard-step col-10 col-sm-8 col-md-6 col-lg-4 m-auto" id="secondstep" >
          <%= f.input :city_name,
                      label: "Where are you located near?",
                      required: false,
                      autofocus: true,
                      placeholder: "Cities are best" %>
          <a href="#" onClick=last.scrollIntoView() class="signup-next" data-turbolinks="false">Next</a>
        </div>
      
        <div class="wizard-step col-10 m-auto" id="laststep" >
          <%= f.input :email,
                      label: "What's you email?",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "What's your email?" },
                      placeholder: "we won't share it"%>
          <%= f.input :password,
                      required: false,
                      placeholder: "password" %>  
          <%= f.button :submit, "Sign up", class: "sign-up-btn" %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

<script> 
  const second = document.getElementById('secondstep')
  const last = document.getElementById('laststep')
</script>

