<%= render layout: 'daybackground' do %>
  <div class="container-fluid signup">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    
      <div class="wizard">
        <div class="wizard-step col-10 col-sm-8 col-md-6 col-lg-4 m-auto">
          <%= f.input :name,
                      label: "What's your name?",             
                      required: false,
                      autofocus: true,
                      placeholder: "First name is fine..." %>
        <p style="color: white; font-size: 12px; opacity: 0.8">We'll use this to personalize your notifications</p>
        <a href="#secondstep" class="signup-next" data-turbolinks="false">Next</a>
        </div>

        <div class="wizard-step col-10 col-sm-8 col-md-6 col-lg-4 m-auto" id="secondstep">
          <%= f.input :city_name,
                      label: "Where are you located near?",
                      required: false,
                      autofocus: true,
                      placeholder: "Cities are best" %>
          <p style="color: white; font-size: 12px; opacity: 0.8">We'll use this to get your local weather</p>
          <a href="#finalstep" class="signup-next" data-turbolinks="false">Next</a>
        </div>
      
        <div class="wizard-step col-10 m-auto" id="finalstep">
          <%= f.input :email,
                      label: "What's you email?",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "What's your email?" },
                      placeholder: "we won't share it"%>
          <%= f.input :password,
                      required: false,
                      placeholder: "password" %>  
          <%= f.button :submit, "Sign up", class: "sign-up-btn" %>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

