<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="wizard">
    <div class="wizard-step">
      <%= f.input :name,
                  label: "What's your name?",
                  required: true,
                  autofocus: true,
                  placeholder: "name" %>
    <a href="#secondstep" data-turbolinks="false">Next</a>
    </div>

    <div class="wizard-step" id="secondstep">
      <%= f.input :city_name,
                  label: "What city are you located near?",
                  required: true,
                  autofocus: true,
                  placeholder: "location" %>
      <a href="#finalstep" data-turbolinks="false">Next</a>
    </div>
   
    <div class="wizard-step" id="finalstep">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  placeholder: "email"%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  placeholder: "password" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  placeholder: "password" %>               
      <%= f.button :submit, "Sign up", class: "wizard-btn" %>
    </div>

  </div>
<% end %>
