

<% @user = User.last %>
<% lat = @user.latitude%>
<% lon = @user.longitude %>
<% data = Weather.call(lat, lon) %>
<% @forecast = Forecast.new(data) %>
<div style="background-image: linear-gradient(#e66465, #9198e5); color: white; padding: 10px">
  <h1>Weather or Not</h1>

  <h2>Hello! <%= @user.name %></h2>
  <h3>Tomorrow's forecast in <%= @user.city_name %> </h3>

  <p><%= @forecast.tomorrow.weather%></p>

  <p>The best time to go out is <%= @forecast.best_tomorrow_hourly.datetime.strftime("%I:%M %p") %> with temperature of <%= @forecast.best_tomorrow_hourly.temperature.round %>C</p>
</div>
