<div class="container home d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col text-center">
    <% if user_signed_in? %>
    <% lat = current_user.latitude%>
    <% lon = current_user.longitude %>
    <% data = Weather.call(lat, lon) %>
    <% @forecast = Forecast.new(data) %>
    <div class="wizard">
        <div class="wizard-step">
            <h1>Hello! <%= current_user.name %></h1>
            <h2>Tomorrow's forecast in <%= current_user.city_name %> </h2>
        
            <p><%= @forecast.tomorrow_weather%>, <%= @forecast.tomorrow_weather_description %> <%= image_tag @forecast.tomorrow_weather_icon %></p>
  
            <p>The best time to go out is <%= @forecast.best_tomorrow_hourly.datetime %> with temperature of <%= @forecast.best_tomorrow_hourly.temperature.round %>c, and it's feel like <%= @forecast.best_tomorrow_hourly.feels_like_temperature.round %>c</p>
        </div>
    </div>
    <% else %>
      <h1>Weather or Not</h1>
      <p>Make the most of your hour outside</p>
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
    <% end %>

    </div>
  </div>
  
</div>

