<% if user_signed_in? %>
  <%= render layout: 'rainbackground' do %>
    <div class="container-fluid rain-container" style="height: 100vh;" >
      <div class="row align-items-center" style="height: 100%; padding-top: 150px; overflow: hidden">
        <div class="col text-center" style="width: 320px">
        <% forecast = @forecast.tomorrow_weather%>
        <% description = @forecast.tomorrow_weather_description %>
        <% image = image_tag @forecast.tomorrow_weather_icon %>
        <% time = @forecast.best_tomorrow_hourly(current_user).datetime.strftime("%I:%M %p") %>
        <% temp = @forecast.best_tomorrow_hourly(current_user).temperature.round %>
        <% feels_like = @forecast.best_tomorrow_hourly(current_user).feels_like_temperature.round %>
        <% city = current_user.city_name.split(",")[0] %>
          <div class="m-auto" style="width: 340px;">
            <p style="font-size: 70px; width: 340px">Hey <%= current_user.name %></p>
            <p style="width: 340px; font-size: 23px">The best time for you go  <br/> out in <b> <%= city %> </b> tomorrow is</p>
            <p style="font-size: 72px; line-height: 72px; width: 330px;"> <%= time %></p>
            <div class="d-flex" style="width: 340px">
              <p style="font-size: 80px; position: relative; left: 2px; top: 15px; padding-right: 10px"><%= temp %>°C</p>
              <% if description.include? "rain" %>
                <div class="icon rainy">
                  <div class="cloud"></div>
                  <div class="rains"></div>
                </div>
              <% elsif description.include? "sky" %>
                <div class="icon sunny">
                  <div class="sun">
                  <div class="rays"></div>
                </div>
              <% elsif description.include? "clouds" %>
                <div class="icon cloudy">
                  <div class="cloud"></div>
                  <div class="cloud"></div>
                </div>
              <% end %>
            </div>
            <div class="py-4" style="width: 340px">
              <p><%= description  %>
            </div>
          </div>
        <div class="home-forecast pt-5">
          <div id="time-forecast" class="m-auto">
            <div id="weather-forecast" class="m-auto pt-5 d-flex justify-content-around">
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="container-fluid home" style="height: 100%">
    <div class="row text-center" style="height: 100vh; width: 100vw;">
      <div class="col m-auto won">
        <% 
          @ideal_forecast = NotificationService.new.filter_forecasts
        %>
        <p><%= @ideal_forecast.temp.round %>°C</p>
        <p><%= Time.at(@ideal_forecast.dt).strftime("%I:%M %p") %></p>
        <p><%= @ideal_forecast.long_description %></p>
        <h1>Weather or Not</h1>
        <p>Make the most of your hour outside</p>
        <%= link_to new_user_registration_path, class: "nav_button" do %>
          Get started <span class="fa fa-angle-right"></span>
        <% end  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 m-auto col-lg-5 text-center"  style="height: 100%">
        <p>Welcome to <b>Weather or Not</b> a weather service personalised to you!</p>
        <br/>
        <p style="font-size: calc(10px + 1.2vw)"> There's nothing to download, just sign up for our daily notification, and we will send you the best time to go outside ba\sed on your location and availability.</p>
      </div>
    </div>     
  </div>
<% end %>



