
<%= render layout: 'rainbackground' do %>
  <div class="container-fluid home">
    <div class="row" style="height: 100vh">
      <div class="col text-center">
      <% if user_signed_in? %>
      <div style="display: none"> - for i in (0 .. 149)
            i.rain
      </div>
       <div class="icon sun-shower">
              <div class="cloud"></div>
              <div class="sun">
                <div class="rays"></div>
              </div>
              <div class="rains"></div>
            </div>
      <div class="wizard">
        <div class="wizard-step">
            <h1>Hello! <%= current_user.name %></h1>
            <h2>Tomorrow's forecast in <%= current_user.city_name %> </h2>
        
            <p><%= @forecast.tomorrow_weather%>, <%= @forecast.tomorrow_weather_description %> <%= image_tag @forecast.tomorrow_weather_icon %></p>
           
            <p>The best time to go out is <%= @forecast.best_tomorrow_hourly(current_user).datetime %> with temperature of <%= @forecast.best_tomorrow_hourly(current_user).temperature.round %>c, and it's feel like <%= @forecast.best_tomorrow_hourly(current_user).feels_like_temperature.round %>c</p>
        </div>
        <p>@forecast.best_tomorrow_hourly.datetime.strftime("%I:%M %p")</p>
      </div>
      <% else %>
      <div class="row" style="height: 100vh">
        <div class="col m-auto">
          <h1>Weather or Not</h1>
          <p>Make the most of your hour outside</p>
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            Get started <span class="fa fa-angle-right"></span>
          <% end  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1 offset-lg-1 col-lg-5 text-center">
          <p>Welcome to <b>Weather or Not</b> a weather service personalized to you!</p>
          <br/>
          <p style="font-size: calc(10px + 1.2vw)"> There's nothing to download, just sign up for our daily notification, and we will send you the best time to go outside based on your location and availability.</p>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-4 border my-4">
          <div class="value-prop" style="height: 300px">
          </div>
        </div>
      </div>
        
      <% end %>

        
      <footer><p>Built by: Sam, Harris, Eric, & Haiden</p></footer>
      </div>
    </div>
  </div>
<% end %>


