<div class="freetimes container-fluid" style="min-height: 100vh">
  <div class="row align-items-center" style="min-height: 100vh">
    <div class="col text-center">
    <h2 class="my-5 pt-5" style="top: 100px">Select and edit your freetimes for a normal day</h2>
      <div>
        <div class="d-flex justify-content-center my-5">
          <%=  simple_form_for Freetime.new, remote: true do |f| %>
            <%= f.check_box :active, :id => "period-option-checkbox-morning-ironically", :class => "visibly-hidden", :onclick => "javascript: document.getElementById(`checkbox_submit_morning`).click();" %>
            <div class="period-option">
              <div class="period-option-content">
                <label for="period-option-checkbox-morning-ironically" class="period-option-hitarea"></label>
                <%= f.input :period, input_html: {value: 'Morning'} %>
              </div>
              <div class="period-option-toolbar">
                <%= f.input :start_time, input_html: {value: '8:00'} %>
                <%= f.input :end_time, input_html: {value: '11:00'} %>
              </div>
            <%= f.button :submit, id: "checkbox_submit_morning", class: "d-none" %>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-center my-5">
          <%=  simple_form_for Freetime.new, remote: true do |f| %>
            <%= f.check_box :active, :id => "period-option-checkbox-noon-ironically", :class => "visibly-hidden", :onclick => "javascript: document.getElementById(`checkbox_submit_noon`).click();" %>
            <div class="period-option">
              <div class="period-option-content">
                <label for="period-option-checkbox-noon-ironically" class="period-option-hitarea"></label>
                <%= f.input :period, input_html: {value: 'Noon'} %>
              </div>
              <div class="period-option-toolbar">
                <%= f.input :start_at, input_html: {value: '11:00'} %>
                <%= f.input :end_at, input_html: {value: '14:00'} %>
              </div>
              <%= f.button :submit, id: "checkbox_submit_noon", class: "d-none" %>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-center">
          <%=  simple_form_for Freetime.new, method: :post, remote: true do |f| %>
            <%= f.check_box :active, :id => "period-option-checkbox-evening-ironically", :class => "visibly-hidden", :onclick => "javascript: document.getElementById(`checkbox_submit_night`).click();" %>
            <div class="period-option">
              <div class="period-option-content">
                <label for="period-option-checkbox-evening-ironically" class="period-option-hitarea"></label>
                <%= f.input :period, input_html: {value: 'Evening'} %>
              </div>
              <div class="period-option-toolbar">
                <%= tag.span f.input :start_at, input_html: {value: '14:00'} %>
                <%= f.input :end_at, input_html: {value: '17:00'} %>
              </div>

              <%= f.button :submit, id: "checkbox_submit_night", class: "d-none" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my-5">
        <%= link_to "Submit", send_mail_and_redirect_path %> 
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/animate-css-grid@latest"></script>

<script>
  const grid = document.querySelector(".freetimes-grid");
  animateCSSGrid.wrapGrid(grid, {duration : 600});
</script>
